*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# Microbundle cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
